Repository Inist-CNRS/ezs, pull requests merged in 2021-06, with the labels that each got.

#153 Fix errors with postal code containing labo's number
  packages/conditor/src/rnsr.js
  packages/conditor/test/affAlign.spec.js
  packages/conditor/test/rnsr.spec.js
Labels: @ezs/conditor, bug

#157 Fix @ezs/conditor 2.2.1
  .vscode/settings.json
  packages/conditor/.npmignore
Labels: @ezs/conditor, bug

#159 Use .env only in conditorScroll
  packages/conditor/src/scroll.js
Labels: @ezs/conditor, enhancement

#155 First draft for LodexJoinQuery documentation
  packages/lodex/src/joinQuery.js
Labels: documentation
